* {
    margin: 0;
    padding: 0;
}
:root {
    --large-fs: 20px;
}
body {
    display: grid;
    grid-template-columns: 3fr 5fr;
    height: 100vh;

}
.leftSide {
    background-image: url('abhishekTiwariUnsplash.jpg');  
    display: grid;
    align-items: center;
    justify-content: center;  
}
.leftSide-logo {
    color: white;
    font-size: 48px;
}
.rightSide {
}
.header {
    padding: 2rem 2rem 10% 2rem;
    font-size: var(--large-fs);
}
#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

}
.form {
    -webkit-box-shadow: 0px 4px 10px -2px #000000; 
    box-shadow: 0px 4px 10px -2px #000000;
    padding: 1rem 2rem 1rem 2rem;
}
.form>p{
    font-size: 18px;
    padding-bottom: 1rem;
}
#confirmPassword {
    padding-bottom: 5%;
}
label {
    font-size: 14px;
}
input {
    height: 1rem;
}
.footer {
    padding:2rem 0 0 2rem;
    font-size: var(--large-fs);
}